body{
  margin:0;
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

h1{
  margin:20px 0;
}

.box{
  background:#1e293b;
  margin:15px;
  padding:20px;
  border-radius:12px;
}

select,input,button{
  width:90%;
  padding:10px;
  margin:8px 0;
  font-size:16px;
  border-radius:6px;
  border:none;
}

button{
  background:#22c55e;
  font-weight:bold;
}

.hidden{
  display:none;
}

.timer{
  font-size:22px;
  color:#facc15;
}